@mixin warning{
    font: {
        weight:bold
    }
}
@mixin font-size($size){
    font-size: $size;
}

@mixin box-shadow($shadows...){
box-shadow: $shadows;
-moz-box-shadow:$shadows;
-webkit-box-shadow:$shadows;
}
@mixin google-font($font){
    $font:unquote($font);
    @import url('https://fonts.googleapis.com/css?family=#{$font}');
}