@import url("https://fonts.googleapis.com/css?family=Arimo");
/* line 8, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
.col-md-1 {
  width: 10%; }

/* line 8, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
.col-md-2 {
  width: 20%; }

/* line 8, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
.col-md-3 {
  width: 30%; }

/* line 8, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
.col-md-4 {
  width: 40%; }

/* line 8, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
.col-md-5 {
  width: 50%; }

/* line 8, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
.col-md-6 {
  width: 60%; }

/* line 13, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
body {
  font-weight: bold;
  font-family: "Arimo", arial;
  font-size: 1.125em; }

/* line 19, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
h1 {
  font-size: 18px; }

/* line 23, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
.content {
  width: 960px; }
  @media only screen and (max-width: 960px) {
    /* line 23, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
    .content {
      width: auto; } }

/* line 29, /Users/kfirevron/DevApps/Udemy/vanillaJs/sass/style.scss */
.box-shadow {
  box-shadow: 2px 2px 2px 2px #000, 5px 5px 5px 5px #f00;
  -moz-box-shadow: 2px 2px 2px 2px #000, 5px 5px 5px 5px #f00;
  -webkit-box-shadow: 2px 2px 2px 2px #000, 5px 5px 5px 5px #f00; }

/*# sourceMappingURL=style.css.map */