@import "variables";
@import "mixins";
@import "functions";

@include google-font('Arimo');

@for $i from 1 through 6{
    .col-md-#{$i} {
        width:#{$i * 10%};
    }
}

body{
@include warning;
font-family: $font-family;
font-size:em(18px);
}

h1{
@include font-size(18px);
}

.content{
    width: 960px;
    @media only screen and(max-width:960px) {
        width: auto;
    }
}
.box-shadow{
    @include box-shadow(2px 2px 2px 2px #000,5px 5px 5px 5px #f00);
}